# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.ruff_cache/

# Distribution / packaging
build/
dist/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Personal
.venv/
.env
