name: Test taskfiles
on:
  workflow_call:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/test-taskfiles.yml"
      - "collections/**"
      - "Taskfile.yml"
  pull_request:
    paths:
      - ".github/workflows/test-taskfiles.yml"
      - "collections/**"
      - "Taskfile.yml"

jobs:
  test-taskfiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Task
        uses: go-task/setup-task@v1
      - name: Test Taskfiles
        run: task test-taskfiles -y
